html,
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #a5a5e3;
}

#first-hr {
    padding: 0px;
    margin: 0px;

}
ul {
    padding: 0px;
    list-style-type: none;
}

li.restaurant-name {
    padding-top:10px;
    padding-left:10px;
}

input,
select,
{
    height:26px;
    width:70%;
}

#loc {
    height:26px;
    width: 80%;
}

button {
    height:26px;
}


#title-bar {
    height:55px;
    width: 100%;
    background-color: #a5a5e3;
    padding-left: 2%;
}

h1 {
    margin-bottom: 0px;
    padding-top: 10px;
}

.near {
    margin-top:17px;
}


#map {
    height: 100%;
}

#panel-map {
    height: 100%;
}

#panel {
    padding-left: 5px;
    height: 100%;
    width:300px;
    float: left;
    overflow: scroll;
}

li.restaurant-name,
.find {
    padding-left:10px;
}

.restaurant-name:hover {
    background-color: #e6e6e6;
    cursor:pointer;
}

#rating {
    float:right;
    padding-right: 30px;
    padding-top: 10px;
}
.towards,
.away {
    float:right;
    padding-right: 30px;
    cursor: pointer;
    font-size: 22px;
}
#directions {
    cursor: pointer;
    color: blue;
}

#directions2-start,
#directions2-end,
#directionsfrom-start,
#directionsfrom-end {
    width: 100%;
}

#featured-food {
    width: 250px;
    height: 200px;
}

#filter {
    width:85%;
    height: 26px;
    margin-left:10px;
}
.go-to {
    display:none;
}

.search {
    display:none;
}
input,
select {
    height: 26px;
}

.get-from {
    display:none;
}

#selected-name {
    margin-top: 10px;
}

#menu,
.user-rating {
    padding-top:10px;

}

#price-range{
    margin-top: 10px;
}

button[type=submit] {
    border-radius: 5px;
    color: white;
    background-color: orange;
}


#get-directions-from,
#get-directions-to {
    float:right;
}

#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}

@media screen and (max-width: 800px) {

#map {

    height: 300px;

    width: 100%;
    position: relative;

}

#title-bar {
    text-align: center;
}
#right-panel,
#panel {
    width:100%;
    float:none;
    bottom: 0;
    position: absolute;
    top: 375px;
    overflow: visible;
}
}
@media screen and (max-width: 500px) {

#title-bar{
    font-size:12px;
    height: 75px;
}



